include /templates/mixins.pug
html
    head
        title Superuser Labs
        include /templates/head-includes.pug
        include /templates/analytics-superuserlabs.pug

    body
      +layout
        include /templates/navbar.pug

        main.mdl-layout__content
          +cover('url("/media/tty.gif") 400px', style="padding: 8em 0 8em 0;")
            +text('div', 'text-center', 'white')
              div
                +typo('div', 'display-1')
                  | Turning you into a
                +typo('div', 'display-4') Superuser
              div(style='padding-top: 20px;')
                | Superuser Labs is building #[a(href="https://en.wikipedia.org/wiki/Free_and_open-source_software" target="blank") free and open-source software] that empowers users.

          +section
            +cell(12)
              +typo('div', 'display-2') Our projects

            +cell(12)
              div(style="display: flex; margin-top: 2em")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  +fa('ethereum', 'fab', 'blue-grey-900')
                  //-+fa('bitcoin', 'fab', 'amber')
                div(style="flex-grow: 1")
                  h3 Thankful
                  p Donate directly to every content creator online that you like.
                  +button("https://getthankful.io", style="background-color: #009624").mdl-button--colored.mdl-button--raised
                      | #[i.fas.fa-download] Get the extension
                  +button("https://github.com/SuperuserLabs/thankful")
                      | #[i.fab.fa-github] GitHub
                  +button("https://getthankful.io")
                      | More info

            +cell(12)
              div(style="display: flex; margin-top: 2em;")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  img(src="/media/activitywatch-logo.png" style="width: 8em;")
                div(style="flex-grow: 1")
                  h3 ActivityWatch
                  p Keep track of how you spend time on your computer, keep the data to yourself.
                  +button("https://github.com/ActivityWatch/activitywatch/releases", style="background-color: #009624").mdl-button--colored.mdl-button--raised
                      | #[i.fas.fa-download] Download
                  +button("https://github.com/ActivityWatch/activitywatch/")
                      | #[i.fab.fa-github] GitHub
                  +button("https://activitywatch.net/")
                      | More info

          +section.mdl-color--grey-800.mdl-color-text--white
            div(style="display: flex")
              div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                +fa('donate', 'fas', 'amber')
              div(style="flex-grow: 1")
                h2 Support us!
                p We rely on donations to keep our work going, keep an eye on this space for donations.

          +section
            +cell(12)
              h2.text-center Team

            mixin teammember(name, imagename, role, github, linkedin, image_style)
              +cell(4)
                .mdl-card.mdl-shadow--2dp(style="width: 90%; margin: 2em 0 0 0")
                  .mdl-card--expand.mdl-card__title(style=`background: url('/media/${imagename}') center / cover; height: 300px; ${image_style}`)
                  .mdl-card__supporting-text(style="padding: 1em")
                    div(style="float: left")
                      h5(style="margin: 0 0 0.25em 0") #{name}
                      div #{role}
                    div(style="float: right")
                      div(style="margin: 0.25em 0 0 0; font-size: 150%")
                        a(href=`${github}`, style="color: #444")
                          i.fab.fa-github
                        if(linkedin)
                          a(href=`${linkedin}`, style="margin: 0 0 0 0.5em; color: #0077B5")
                            i.fab.fa-linkedin

            +teammember("Erik Bjäreholt", "erik.jpg", "CEO, Developer", github="http://github.com/ErikBjare", linkedin="https://www.linkedin.com/in/erikbjareholt/")
            +teammember("Johannes Ahnlide", "johannes.jpg", "Developer", github="https://github.com/ahnlabb")
            +teammember("Jacob Karlsson", "jacob.jpg", "Developer", github="https://github.com/powersource", linkedin="https://www.linkedin.com/in/jacob-karlsson-6a483bb1/")
            +teammember("Patrik Laurell", "patrik.jpg", "Developer", github="https://github.com/patrik-laurell", linkedin="https://www.linkedin.com/in/patrik-laurell-ba5b306b/")
            +teammember("Johan Bjäreholt", "johan.png", "Developer", github="https://github.com/johan-bjareholt", linkedin="https://www.linkedin.com/in/johanbjareholt/")
            +teammember("Valthor Halldórsson", "valthor.jpg", "Developer", github="https://github.com/vlthr", linkedin="https://www.linkedin.com/in/valthor-halldorsson-002aaa13a/")
            +teammember("Dwight Lidman", "dwight.jpg", "Developer", github="https://github.com/dwilid", linkedin="https://www.linkedin.com/in/dwight-lidman/", image_style="background-position-y: 10%")
            +teammember("Michael Young", "", "Developer", github="https://github.com/Miyou", linkedin="https://www.linkedin.com/in/michael-young-522148142/")

          +footer
