mixin section(padding="2em 0em")
  div&attributes(attributes)
    div.container.mx-auto(style=`padding: ${padding}`)
      .grid
        block


mixin button
  a.rounded-md.border.mr-4.px-3.py-2.shadow(target="_blank")&attributes(attributes)
    block


mixin fa(name, group='fas', color='black')
  i(class=`${group} fa-${name} fa-8x text-${color}`)


mixin cell(cols)
  div(class=`col-span-${cols}`)&attributes(attributes)
    block


mixin sectitle
  h4.text-4xl(style="mt-0")
    block

mixin footer
  +section("8")(class!=attributes.class)
    +cell(12)
      p(style="m-0 text-center")
        b Made with #[i.fas.fa-heart(style="color: red")] by Superuser Labs

mixin teammember(name, imagename, role, github, linkedin, image_style)
  .border.rounded-xl.shadow.bg-white.text-black
    div
      div.h-72.rounded-t-xl(style=`background: url('/media/${imagename}') center / cover; ${image_style}`)
    div.flex.p-3
      div.flex-grow
        div.m-0 #{name}
        div.text-sm.text-gray-500 #{role}
      div
        div.text-2xl.ml-2
          a(href=`${github}`, style="color: #444")
            i.fab.fa-github
          if(linkedin)
            a.ml-2(href=`${linkedin}`, style="color: #0077B5")
              i.fab.fa-linkedin
